# arkiv
__pycache__/
*.pyc
.env
.env.local
*.db
media.db
arkiv.db
chroma_db/
thumbnails/
proxies/
*.egg-info/
dist/
build/
.streamlit/
*.log
.DS_Store
.venv/
venv/
*.db-journal
pages/
src-tauri/target/
